<div class="grid-x grid-margin-x">
  <h3>Кривое Расписание за неделю</h3>
  <div class="cell large-12">
    <% DaysWeek.all_days.each do |day| %>
      <% @params[day].each do |elem| %>
        <div class="card cell large-4">
          <div class="card-divider">
            <%= day %>
          </div>
          <div class="card-section">
            <h4><%= elem.number_pair %></h4>
  
          </div>
        </div>
      <% end %> 
    <% end %>
  </div>
</div>